.form-container p,
.form-container h4 {
  margin-bottom: 0.5rem;
  margin-top: 0;
}

.fields-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 0.625rem;
}
  
.fields-table th,
.fields-table td {
  border: 0.0625rem solid #ccc;
  padding: 0.5rem;
  text-align: center;
}
  
.fields-table th {
  background-color: #BFC6D4;
}
  
.action-button {
  padding: 0.25rem 0.5rem;
  margin-right: 0.3125rem;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
}
  
.action-button.delete {
  background-color: #373F4E;
  color: #BFC6D4;
}
  
.action-button.delete:hover{
  background-color:  #667085;
}

.create-button {
  padding: 0.625rem 1.25rem;
  background-color: #373F4E; 
  color: #BFC6D4;
  text-decoration: none;
  border: 0.0625rem solid #373F4E;
  border-radius: 0.3125rem;
  transition: background 0.3s; 
  width: 5.625rem;
  margin: 0 auto;
  display: block;
  margin-top: 1.3rem;
  font-weight: bold;
  cursor: pointer;
}

.create-button:hover {
  background-color: #667085;
}