.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #D1D6E0;
    color: #373F4E;
    position: relative;
    border-bottom: 1px solid #373F4E;
}
  
  
.logo-container {
    display: flex;
    justify-content: center; 
    align-items: center; 
}
  
.logo {
    height: 65px;
}
  
.menu-button {
    margin-left: auto;
    font-size: 30px;
    cursor: pointer;
    padding: 5px 10px;
    position: relative;
}

.menu-button:hover{
    color: #212631;
}

  
.dropdown-menu {
    position: absolute;
    right: 0;
    top: 100%;
    width: 200px; 
    background-color: #D1D6E0;
    color: #373F4E;
    border: 1px solid #373F4E;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    padding: 5px;
}

.dropdown-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.dropdown-menu li {
    padding: 8px; 
    border-bottom: 1px solid #BFC6D4;
    display: flex;
    align-items: center; 
    gap: 8px; 
    font-size: 20px;
}

.dropdown-menu li:last-child {
    border-bottom: none;
}

.dropdown-menu li a {
    text-decoration: none;
    color: #373F4E;
    display: flex;
    align-items: center;
    gap: 8px;
    width: 100%; 
}

.dropdown-menu li:hover {
    background-color: #C5CAD6;
}

.dropdown-menu li a:hover{
    color: #212631;
}

.dropdown-menu li svg {
    font-size: 20px; 
}
  
.auth-buttons {
    display: flex;
    gap: 10px; 
}
  
.auth-button {
    padding: 10px 20px;
    background-color: #373F4E; 
    color: #BFC6D4;
    text-decoration: none;
    border: 1px solid #373F4E;
    border-radius: 5px; 
    transition: background 0.3s;
}
  
.auth-button:hover {
    background-color: #667085;
}
  